@using WebCourseWorkActual.Domain.Entity
@using WebCourseWorkActual.Domain.ViewModels.User

@model General

@{
	ViewBag.Title = "Профиль";
	Layout = "_Layout";
}

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body">
			<h5 class="card-title">@Model.User.Имя @Model.User.Фамилия @Model.User.Отчество</h5>
            <p class="card-text">Email: @Model.User.Email</p>
            <p class="card-text">Баланс:</p>
            <input type="text" value="@Model.Check.Баланс" class="form-control balance" id="amountInput">
            <br>
            <button class="btn btn-primary rounded" type="button" onclick="ChangeBalance()">Сохранить</button>
            
			<form method="post" asp-controller="Account" asp-action="Logout">
                <br>
				<input class="btn btn-danger rounded" type="submit" value="Выход" />
			</form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="js/site.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
  
</body>